.inpt {
    width: 370px;
    height: 55px;
    background: #F4F4F4;
    border: none;
    padding: 0 15px;
    margin-top: 25px;
}

.btn-add {
    width: 173px;
    height: 55px;
    left: 80px;
    top: 542px;
    background: #A8B64F;
    border: none;
    color: white;
    margin-top: 25px;
}
