.timer-container {
    width: 100%;
}

.timer-content {
    width: 100%;
    height: 507px;
    background: #F4F4F4;
    margin: 0 16px;
    position: relative;
}

.timer-content-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background: #C4C4C4;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timer-content-header-isCounting {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background: #DC3E22;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timer-content-header-isCounting div {
    padding: 0 40px;
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    color: #FFFFFF;
}

.timer-content-header-isCounting span {
    padding: 0 40px;
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: #FFFFFF;
}

.timer-content-header-isPause {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background: #A8B64F;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.timer-content-header-isPause div {
    padding: 0 40px;
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    color: #FFFFFF;
}

.timer-content-header-isPause span {
    padding: 0 40px;
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: #FFFFFF;
}


.timer-content-header div {
    padding: 0 40px;
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    color: #FFFFFF;
}

.timer-content-header span {
    padding: 0 40px;
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: #FFFFFF;
}

.timer-content-timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.timer-content-add {
    cursor: pointer;
    border: none;
}

.timer {
    display: flex;
    align-items: center;
}

.timer-active {
    display: flex;
    align-items: center;
}

.timer-active span {
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 200;
    color: #DC3E22;
    font-size: 150px;
    line-height: 179px;
    margin-right: 25px;
}


.timer span {
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 200;
    font-size: 150px;
    line-height: 179px;
    color: #333333;
    margin-right: 25px;
}

.timer-description {
    display: flex;
}

.timer-description div {
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: #999999;
}

.timer-description span {
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: #333333;
    margin-left: 6px;
}

.timer-btns {
    display: flex;
    margin-top: 32px;
}

.btn-start {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 55px;
    color: #FFFFFF;
    background: #A8B64F;
    margin-right: 25px;
    cursor: pointer;
    border: none;
}

.btn-start:hover {
    background: #899441;
}

.btn-stop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 138px;
    height: 51px;
    color: #C4C4C4;
    border: 2px solid #C4C4C4;
    cursor: pointer;
    border: none;
}

.btn-stop-counting {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 138px;
    height: 51px;
    color: #DC3E22;
    border: 2px solid #DC3E22;
    cursor: pointer;
}

.btn-stop-counting:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 138px;
    height: 51px;
    color: white;
    background: #DC3E22;
    cursor: pointer;
}

.btn-end {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 138px;
    height: 51px;
    color: white;
    background: #DC3E22;
    border: 2px solid #C4C4C4;
    cursor: pointer;
}

.btn-stop:hover {
    background: #DC3E22;
}
