.statistic-footer {
    display: flex;
    justify-content: space-between;
}

.statistic-footer-card {
    width: 100%;
    height: 179px;
    background: #FFDDA9;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statistic-footer-card-2 {
    width: 100%;
    height: 179px;
    background: #DFDCFE;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statistic-footer-card-3 {
    width: 100%;
    height: 179px;
    background: #C5F1FF;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statistic-footer-card-left {
    text-align: left;
}

.statistic-footer-card-left span {
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
}

.statistic-footer-card-left div {
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 76px;
    color: #333333;
}
