.description-add-header {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
}

.description-add-item {
    display: flex;
    align-items: start;
    justify-content: start;
}

.description-add-item span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    color: #333333;
    margin-left: 15px;
}
