.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0 10px 63px rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-description {
    margin: 0 80px;
}

.header-description-flex {
    display: flex;
    align-items: center;
}

.header-description span {
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #DC3E22;
    margin-left: 12px;
}

.header-static {
    margin: 0 80px;
}

.header-static span {
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    margin-left: 5px;
    color: #DC3E22;
}

.headerContent {
    height: 100%;
}
